:root {
    @media (prefers-color-scheme: light) {
        --obey-color-text: #1a1a1a;
        --obey-color-stripe: #f0f0f0;
        --obey-color-bg: #ffffff;
    }

    @media (prefers-color-scheme: dark) {
        --obey-color-text: #fafafa;
        --obey-color-stripe: #00080f;
        --obey-color-bg: #1a2a3a;
    }
}

body.obey-debug {
    [data-obey] {
        outline-offset: -3px;
    }

    [data-obey="container"] {
        outline: 3px solid lime;
    }

    [data-obey="element"] {
        outline: 3px solid yellow;
    }

    [data-obey-status="hidden"] {
        outline: 3px solid violet;
    }

    [data-obey="wrapper"] {
        outline: 3px solid cyan;
    }
}

[data-obey-status="hidden"] {
    details.obey-prepend:not([open]) {
        /* Hide children after details – a compromise because Facebook feed will crash if just wrapping the children inside the details element. Has the drawback of not being able to search the hidden elements… */
        & ~ * {
            display: none;
        }
    }

    &:has(details.obey-prepend[open]),
    details.obey[open] {
        border-bottom: 8px solid var(--obey-color-stripe);
    }

    summary {
        padding: 0.5em;
        background: var(--obey-color-bg);
        background-image: linear-gradient(135deg, var(--obey-color-stripe) 25%, var(--obey-color-bg) 25%, var(--obey-color-bg) 50%, var(--obey-color-stripe) 50%, var(--obey-color-stripe) 75%, var(--obey-color-bg) 75%, var(--obey-color-bg) 100%);
        background-size: 31.5px 31.5px;
        color: var(--obey-color-text);
    }
}
