[data-ufc] {
    outline-offset: -3px;
}

[data-ufc="container"] {
    outline: 3px solid lime;
}

[data-ufc="element"] {
    outline: 3px solid yellow;
}

[data-ufc="wrapper"] {
    outline: 3px solid cyan;
}
