[data-ufc] {
    outline-offset: -3px;
}

[data-ufc="container"] {
    outline: 3px solid lime;
}

[data-ufc="element"] {
    outline: 3px solid yellow;
}

[data-ufc="wrapper"] {
    outline: 3px solid cyan;
}

[data-ufc="container"] [data-ufc-status="hidden"] {
    /* display: none !important; */
    background: pink;
    max-height: 1.5em;
    overflow: hidden;
}

[data-ufc="container"] [data-ufc-status="hidden"]:before {
    display: block;
    width: 100%;
    content: attr(data-ufc-reason);
    color: hotpink;
}
